<?xml version='1.0' encoding='utf-8'?>
<widget id="com.akikieng.jessicatest" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Jessica Test</name>
    <description>
        Tests of video editing using cordova, html5, javascript
    </description>
    <author email="shadiakiki1986@gmail.com" href="http://www.akikieng.com/shadi">
       Shadi Akiki
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*"/>
</widget>
